<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tripath.muse">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 화면에 꺼져있을 때도 서비스를 실행 시키기 위한 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_144"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_144"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="com.tripath.muse.service.MusicService.nextWindIntent"/>-->
                <!--<action android:name="com.tripath.muse.service.MusicService.netWorkErrorIntent"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>


        <!-- Main music service, provides media browsing and media playback services to
        consumers through MediaBrowserService and MediaSession. Consumers connect to it through
        MediaBrowser (for browsing) and MediaController (for PLAY session control) -->
        <!--<service-->
        <!--android:name=".service.MusicService"-->
        <!--android:exported="true"-->
        <!--tools:ignore="ExportedService"-->
        <!--android:enabled="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.media.browse.MediaBrowserService" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <service
            android:name=".service.MusicService"
            android:enabled="true">
        </service>
    </application>

</manifest>